@import url('https://fonts.googleapis.com/css2?family=Sanchez:wght@400&display=swap');
@import url('./cores.css');

header{
    padding-top: 6rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.slider{
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding-bottom: 2rem;
    font-family: 'Sanchez', serif;
    overflow: hidden;
    border-top: 2px solid var(--text-color);
    background-color: var(--background);
    color: var(--text-color);
}

.slider .slider-txt{
    color: var(--text-color);
    line-height: 2.5rem;
}

.slider .slider-txt h2{
    text-transform: uppercase;
}

.slider .slider-txt p{
    padding-top: .5rem;
}

.slider .slider-container{
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 0;
}

.slider .slider-images{
    display: flex;
    justify-content: center;
    scroll-snap-type: x mandatory; /* Rolar suavemente de uma imagem para outra */
    margin-bottom: 11rem; /*espaçamento para legenda*/
}

.slider .slider-images figure img{
    width: 23rem;
    height: 35rem;
    object-fit: fill;
    border-radius: 25px;  
}

.slider .prev-img,
.slider .next-img {
    width: 25%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    opacity: 0.5;
}

.slider .prev-img {
    left: -25vw;
}

.slider .next-img {
    right: -25vw;
}

.slider .prev-btn, 
.slider .next-btn {
    font-size: 3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
    z-index: 2;
}

.slider .legend {
    position: absolute;
    bottom: -10%;
    padding: 0.3rem 0;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-align: left;
    width: 60%;
}

.slider .legend span{
    font-weight: bold;
    color: var(--text-red);
}

/*############################################################################################*/