:root {
    --RPG-white: rgba(255, 255, 255, 1);
    --RPG-black: rgba(0, 0, 0, 1);
    --RPG-gray: rgb(134, 133, 133);
    --RPG-blue: rgb(0, 123, 255, 1);
    --RPG-blue-dark: rgb(0, 86, 179, 1);
    --RPG-violet: rgb(138, 43, 226, 1);
    --RPG-black-opacity: rgba(0, 0, 0, .7);
    --RPG-gradient-violet: linear-gradient(to right, rgb(0, 0, 0) 40%, rgb(138, 43, 226));
    --RPG-gold: rgba(255, 215, 0, 1); /* Cor dourada */

    --width-max: 1020px;
    --width-min: 1020px;

    --background-color: #1a1a1a;
    --text-color: #f0e6d2;
    --text-red: #e63946;
    --text-gold: #f4a261;
    --border-color: #8b4513;
    --highlight-color: #e0b084;
    --input-bg: #1e1e1e;
    --container-bg: #333;
    --row-alt-bg: #2a2a2a;
    --box-shadow-color: rgba(0, 0, 0, 0.5);
}