@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('./cores.css');

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    max-width: var(--width-max);
    min-width: var(--width-min);
    font-family: 'Uncial Antiqua', cursive;        
    color: var(--RPG-violet); 
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--RPG-gray);
    z-index: 1;
}

.login-container {
    background-color: var(--RPG-white);
    padding: 1.25rem; /* 20px */
    border-radius: 0.5rem; /* 8px */
    width: 18.75rem; /* 300px */
    text-align: center;
    box-shadow: 0 0.25rem 0.3125rem 0.125rem var(--RPG-black-opacity); /* 5px 2px */
}

.login-container h1 {
    margin-bottom: 1.25rem; /* 20px */
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 0.3125rem; /* 5px */
    text-align: left;
}

.login-container input {
    padding: 0.625rem; /* 10px */
    margin-bottom: 0.9375rem; /* 15px */
    border: 0.0625rem solid #ddd; /* 1px */
    border-radius: 0.25rem; /* 4px */
}

.login-container button {
    padding: 0.625rem; /* 10px */
    background-color: var(--RPG-blue);
    color: var(--RPG-white);
    border: none;
    border-radius: 0.25rem; /* 4px */
    cursor: pointer;
}

.login-container button:hover {
    background-color: var(--RPG-blue-dark);
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 0.625rem; /* 10px */
}

.links a {
    color: var(--RPG-blue);
    text-decoration: none;
    margin: 0 0.3125rem; /* 5px */
}

.links a:hover {
    color: var(--RPG-blue-dark);
    text-decoration: underline;
}
