@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:wght@400&display=swap');
@import url('./cores.css');

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: var(--width-max);
    background-color: var(--background-color);
}

header{
    padding-top: 6rem;
    font-family: 'Cinzel', serif;
}

.ficha-container{
    color: var(--text-color);
    font-family: 'Cinzel', serif;
    margin: 0 auto;
    padding: 1.25rem; /* 20px */
    width: 70%;
    background-color: var(--container-bg);
    border: 0.125rem solid var(--border-color); /* 2px */
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0 0 0.9375rem var(--box-shadow-color); /* 15px */

}

.ficha-row {
    display: flex;
    flex-direction: column;
}

.ficha-colum {
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: var(--border-color);
    text-shadow: .1 .1 1rem var(--box-shadow-color);
    font-size: 1.8rem; /* 1.8em */
    margin: 1.25rem; /* 20px */
}

.rpg-table {
    /* width: 100%; */
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.rpg-table th, .rpg-table td {
    padding: 0.625rem; /* 10px */
    border: 0.0625rem solid var(--border-color); /* 1px */
}

.rpg-table input[type="text"],
.rpg-table input[type="number"],
.rpg-table select {
    padding: 0.3125rem; /* 5px */
    color: var(--text-color);
    text-align: right;
    background-color: var(--input-bg);
    border: 0.0625rem solid var(--border-color); /* 1px */
    border-radius: 0.3125rem; /* 5px */
}

.rpg-table input[type="text"]{
    width: 6rem;
}

.rpg-table input[type="number"]{
    width: 3.5rem;
}

.rpg-table tr:nth-child(even) {
    background-color: var(--row-alt-bg);
}

.rpg-table input[type="text"]:focus,
.rpg-table input[type="number"]:focus,
.rpg-table select:focus {
    outline: none;
    border-color: var(--highlight-color);
}

.rpg-table .dados-column {
    width: 7rem; 
}

.rpg-table select{
    text-align: left;
}

.especial {
    text-transform: capitalize; /* Capitaliza a primeira letra de cada palavra */
    white-space: pre; /* Preserve espaços em branco */
}

.especial::after {
    content: ' '; /* Adiciona um espaço após a palavra "especial" */
}

/* Se quiser, você pode usar um pseudo-elemento para separar as palavras */
.especial {
    display: inline-block; /* Garante que o pseudo-elemento funcione corretamente */
}

/*######################################################*/
/*Magias*/
.select-magias{
    background-color: var(--container-bg);
    color: var(--text-color);
}
/* Estilo dos ciclos */
.ciclo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    background-color: var(--container-bg);
    box-shadow: 0 0 15px  var(--box-shadow-color);
    font-family: 'Sanchez', serif;
}

/* Títulos dos ciclos */
.ciclo h2 {
    font-size: 24px;
    color: var(--text-red);
    margin-bottom: 1rem;
    text-shadow: 2px 2px 0 var(--RPG-Black);
}

/* Estilo das magias */
.magia {
    background: rgba(245, 203, 92, 0.1);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    background-image: url('https://www.transparenttextures.com/patterns/linen.png'); /* Fundo rústico */
    text-align: justify;
    /* text-transform: capitalize; */
}

/* Títulos das magias */
.magia h3 {
    font-size: 20px;
    color: var(--text-gold);
    text-shadow: 1px 1px 0 var(--RPG-Black);
    margin-bottom: 10px;
}

/* Estilo dos parágrafos */
.magia p {
    font-size: 16px;
    margin: 5px 0;
}

.magia p span {
    font-weight: bold;
    color: var(--text-red);
}

/* Efeitos especiais */
section.magia:hover {
    transform: scale(1.03);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--RPG-Gold);
}

